# Pinecone
PINECONE_ENVIRONMENT=
PINECONE_API_KEY=

# UploadThing
UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

# OpenAI
OPENAI_API_KEY=
OPENAI_API_BASE_URL=
OPENAI_EMBEDDING_MODEL_NAME=text-embedding-ada-002
OPENAI_CHAT_MODEL_NAME=gpt-3.5-turbo

# Mongo DB
MONGO_URI=

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard
